* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudo {
    display: flex;
    transition: margin-left 0.3s ease;
}

.conteudo-ajustavel {
    flex-grow: 1;
    border-radius: 5px;
    background-color: lightcoral;
    padding: 10px;
    margin: 10px;
}

.menu-hamburger {
    position: absolute;
    left: -310px;
    padding: 10px;
    margin: 10px;
    /* background-color: lightblue; */
    width: 300px;
    height: 800px;
    border-radius: 5px;
    transition: left 0.3s ease;
}

.menu-hamburger.show {
    left: 10px;
}

.conteudo.menu-open {
    margin-left: 320px;
}

.menu-hamburger-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    z-index: 1000;
} 

