:root {
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;
    
    /* COLORS */
    --preto: #121212;
    --cinza-escuro: #545454;
    --cinza-claro: #b3b3b3;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(255,255,07)
}